<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Add category</title>
</head>
<body>
    <div class="container ">
        <div>
            <h3 class="add-padding">Add Category</h3>
            <label class="control-label" for="catNameField">Add name</label>
            <input class="form-control input-size" name="name" id="catNameField">
            <button class="btn btn-primary">Send!</button>
        </div>
    </div>
</body>
</html>