<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot HTML Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="container py-3">
    <form id="searchForm">
        <div class="form-group">
            <label for="inputData">Search for product:</label>
            <input type="text" id="inputData" name="inputData">
            <button class="btn btn-primary" type="button" onclick="submitForm()">Search</button>
        </div>

    </form>
</div>


<div id="search-result"></div>

<script>
    function submitForm() {
        var inputData = $("#inputData").val();
        $.ajax({
            type: "POST",
            url: "/products/fulltext-search-results",
            data: { searchPhrase: inputData },
            success: function (response) {
                displayResult(response);
            }
        });
    }

    function displayResult(resultList) {
        var resultDiv = $("#search-result");
        resultDiv.empty();
        if (resultList.length > 0) {
            resultDiv.append("<p>Result:</p>");
            for (let j = 0; j < resultList.length; j++) {
                resultDiv.append("<h2>" + "Product " + resultList[j].name + "</h2>");
                resultDiv.append("<p>" + "Price: " + resultList[j].price + "</p>");
                resultDiv.append("<p>" + "Description: " + resultList[j].description + "</p>");

                let link = $('<a>').text("View details").attr('href', '/product-info/' + resultList[j].id);
                resultDiv.append(link);
            }
        } else {
            resultDiv.text("No results.");
        }
    }
</script>

</body>
</html>