<!DOCTYPE HTML>
<html>
<head>
    <title>Your first Spring application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p><a href="/hello">Greet the world!</a></p>-->

<form action="/hello" method="GET" id="productForm">
    <div>
        ADD PRODUCT
        <label for="nameField">Add name</label>
        <input name="name" id="nameField">
        <label for="categoryField">Add category</label>
        <input name="category" id="categoryField">
        <button>Send!</button>
    </div>
    <h1>Database Information</h1>
    <h2>Products in database:</h2>
    <p th:text="${info}"></p>

</form>

</body>
</html>