<!DOCTYPE HTML>
<html lang="eng">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PIS allegro</title>
</head>
<body>
    <h2>PIS-Allegro</h2>
    <p>What do you wish to do?</p>
    <ul>
        <li>
            <a href="/fulltext-search">Search for products</a>
        </li>
        <li>
            <a href="/add-product">Add a new product</a>
        </li>
        <li>
            <a href="/view-all-products">View all products</a>
        </li>
        <li>
            <a href="/add-category">Add a new category</a>
        </li>
    </ul>
</body>
</html>