<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add product</title>
</head>
<body>
    <div>
        <h2>Add a new product</h2>
        <div>
            <label for="nameField">Add name</label>
            <input name="name" id="nameField">
        </div>
        <div>
            <label for="descriptionField">Add description</label>
            <input name="description" id="descriptionField">
        </div>
        <div>
            <label for="categoriesField">Select categories</label>
            <select name="categories" id="categoriesField" multiple>
                <option value="option1">Category 1</option>
                <option value="option2">Category 2</option>
                <option value="option3">Category 3</option>
            </select>
        </div>
        <div>
            <button>Send!</button>
        </div>
    </div>
    <div>
        <h2>Your products</h2>
        <ul>
            <li>
                Product 1
                <button>Edit</button>
            </li>
            <li>
                Product 2
                <button>Edit</button>
            </li>
        </ul>
    </div>
</body>
</html>