<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body>
    <div id="responseMessage">
        <h1 th:text="${productId}"></h1>
    </div>

    <script th:inline="javascript">
        var productId = /*[[${productId}]]*/ null;
    </script>

    <script>
        $(document).ready(function () {
            // let productId = {
            //     productId: productId
            // };
            console.log(productId);
            // $.ajax({
            //     type: "GET",
            //     url: "/products/get-product-info",
            //     data: {},
            //     success: function (data) {
            //         displayResult(data);
            //     }
            // });
        });
    </script>
    <h2>Comments</h2>
</body>
</html>