@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;

}

.same-size {
    width: 300px;
    height: 50px;
}
.add-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
ul {
    align-content: center;

}

.input-size {
    width: 300px;

}

.smaller-button {
    height: 50px;
}
/*.navbar {*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    max-width: 600px;*/
/*    margin: 0 auto;*/
/*    border-bottom: 1px solid #f2f2f2;*/
/*}*/