<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View all products</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
</head>
<body>
<h2>View all products</h2>

<div>
    <label for="categories">Select Categories:</label>
    <select id="categories" class="custom-select" multiple style="width: 300px">
    </select>
    <button onclick="getProductsByCategories()">Get Products</button>
</div>

<div id="products">
</div>

<script>
    $(document).ready(function () {
        $('#categories').select2();

        fetchCategories();

        displayResult(null);
    });

    function fetchCategories() {
        $.ajax({
            url: '/products/get-categories',
            type: 'GET',
            dataType: 'json',
            success: function(categoryNames) {
                const select = $('#categories');
                $.each(categoryNames, function(index, categoryName) {
                    const option = $('<option>').val(categoryName).text(categoryName);
                    select.append(option);
                });
            },
            error: function() {
                console.error('Failed to fetch categories.');
            }
        });
    }


    function getProductsByCategories() {
        const selectedCategories = $('#categories').val();

        $.ajax({
            type: "POST",
            url: "/products/get-all-in-categories",
            contentType: 'application/json',
            data: JSON.stringify(selectedCategories),
            success: function (data) {
                // Clear existing products
                $("#products").empty();
                displayResult(data);
            }
        });
    }

    function displayResult(data) {
        let resultDiv = $("#products");
        resultDiv.empty();
        resultDiv.append("<h2>Products:</h2>");

        if (data == null || data.length === 0) {
            resultDiv.append("No categories selected or no products found.");
            return;
        }

        for (let j = 0; j < data.length; j++) {
            resultDiv.append("<h3>" + "Product " + data[j].name + "</h3>");
            resultDiv.append("<p>" + "Price: " + data[j].price + "</p>");
            resultDiv.append("<p>" + "Description: " + data[j].description + "</p>");

            let link = $('<a>').text("View details").attr('href', '/product-info/' + data[j].id);
            resultDiv.append(link);
        }
    }
</script>
</body>
</html>
