<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View all products</title>
</head>
<body>
    <h2>View all products</h2>
    <div>
        <label for="categoriesField">Select categories</label>
        <select name="categories" id="categoriesField" multiple>
            <option value="option1">Category 1</option>
            <option value="option2">Category 2</option>
            <option value="option3">Category 3</option>
        </select>
    </div>
    <div>
      <h2>Products:</h2>
      <p>Bly bly bly</p>
    </div>
</body>
</html>